.cgl-menu {
    background-color: #EBEDEF;
    border-radius: 5px;
    border: 1px solid lightgray;
}
.cgl-small-text {
    font-size: 14px;
}
.cgl-piece {
    background-color: #EBEDEF;
    border-radius: 5px;
    border: 1px solid lightgray;
}